
/* display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 120px 80px;
gap: 80px;

position: absolute;
width: 1439px;
height: 850px;
left: 1px;
top: 1096px; */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    border: 0.5px solid #000000;
    margin: 80px;
}

section h1 {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    
}

form{
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    width: 30%;
    padding: 5px;
}

input{
    border: 0.2px solid #c9c8c8;
    border-radius: 5px;
    height: 30px;
}

textarea{
    border: 0.2px solid #c9c8c8;
    border-radius: 6px;
    height: 80px;
}

#submit { 
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    color: white;
    
    justify-content: center ;
    align-items: center;
    width: 30%;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 35px
}


footer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

footer p, footer a {
    color: #000000;
    font-size: 15px;
    font-weight: bold;

}