/* Header and hero section by P'Boat */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6fb;
  font-family: "Inter", serif;
}

header {
  background-color: #fff;
  border-radius: 99px;
  padding: 12px 80px;
  margin: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 24px;
  z-index: 100;
}

nav {
  display: flex;
  gap: 48px;
}

nav a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  color: #1a1a2c;
  text-decoration: none;
}

nav a:hover {
  color: #5e44ff;
  text-decoration: underline;
}

nav a.active {
  color: #5e44ff;
  text-decoration: underline;
}

#hero-section {
  padding: 120px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-section .tag-button {
  background-color: #563aff1a;
  border-radius: 99px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #5e44ff;
}

#hero-section h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 84px;
  margin: 48px 0px 24px 0px;
  text-align: center;
}

#hero-section h1 span {
  color: #5e44ff;
}

#hero-section h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

#hero-section button {
  background-color: #1a1a2c;
  border: none;
  padding: 16px 36px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 32px 0px;
}

#hero-section button:hover {
  background-color: #5f5f76;
}

#hero-section button:focus {
  background-color: #35354d;
}

/* Card content section by P'Tod */
.mid-section-for-cards {
  display: flex;
  margin-top: 5%;
  margin-bottom: 8%;
}

#card-container{
  
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}

.card {
  height: 265px;
  width: 20vw;
  padding: 20px;
  gap: 60px;
  border-radius: 16px;
  
}

.box1{
  background-color: #D7E5F6;
}

.box2{
  background-color:#D8E0FC ;
}

.box3{
  background-color:#E8DCF6 ;
}


.card-img{
  margin-top: 5px;
  margin-bottom: 10%;
  background-color: #FFFFFF99;
  border-radius: 10px ;
  width: 11%;
  height: 20%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  margin-top: 30px;
  color: #5F5F76;
}








/* Contact section By Don */
section .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  flex-basis: 1199px;
  padding: 80px 120px 80px 120px;
}

section#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}

section#contact h1 {
  display: flex;
  justify-content: center;
}

section h1 {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;

  gap: 20px;
  width: 569px;
  padding: 5px;
}

input {
  border: 0.2px solid #c9c8c8;
  border-radius: 5px;
  height: 30px;
}

textarea {
  border: 0.2px solid #c9c8c8;
  border-radius: 6px;
  height: 80px;
}

#submit {
  display: flex;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 10px;
  color: white;
  justify-content: center;
  align-items: center;
  width: 569px;
  height: 40px;
  margin-top: 40px;
  padding: 10px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-top: 120px;
  margin-bottom: 50px;
}

footer p,
footer a {
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}
